* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    overflow-x: hidden;
}

.quiz-wrapper {
    background-color: maroon;
    width: 100%;
    height: 100vh;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    overflow: hidden;
}

.quiz-item {
    background-color: white;
    border-radius: 20px;
    width: 80%;
    height: 80vh;
}

.border {
    cursor: pointer !important;
    transition: all ease-in-out 0.5s;
    font-weight: 500;
    font-size: 18px;
}

.border:hover {
    transform: scale(1.03);
}

.border:focus {
    background-color: maroon !important;
    color: white;
}

.question {
    width: 90%;
    border-radius: 10px;
    background-color: maroon;
}

.lead-text {
    width: 90%;
    background-color: rgb(185, 177, 177) !important;
    cursor: not-allowed;
}

.modal {
    width: 100%;
    height: 100vh;
}

.modal-container {
    width: 100%;
    height: 100vh;
    padding-top: 150px;
    background-color: rgba(255, 255, 255, 0.8);
}

.modal-wrapper {
    background-color: maroon;
    width: 50%;
    height: 50vh;
    padding: 10px 200px;
}

.btn-danger {
    background-color: maroon !important;
    border: none;
    transition: ease-in-out 0.3s;
}

.btn-danger:hover {
    background-color: rgb(136, 26, 26) !important;
}

.btn-primary {
    background-color: green !important;
    border: none;
    transition: ease-in-out 0.3s;
}

.btn-primary:hover {
    background-color: rgb(47, 143, 47) !important;
}

.bg-danger {
    background-color: green !important;
}

.loader {
    border: 5px solid #ececec;
    border-top: 5px solid green;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    left: 130px;
    display: none;
}

.correct-option {
    background-color: rgb(1, 92, 1) !important;
    animation: glow1 200ms infinite;
}

@keyframes glow1 {
    50% {
        opacity: 70%;
    }
}

.incorrect-option {
    background-color: rgb(196, 0, 0) !important;
    animation: glow2 200ms infinite;
}

@keyframes glow2 {
    50% {
        opacity: 70%;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        opacity: 60%;

    }

    100% {
        transform: rotate(360deg);
        opacity: 100%;
    }
}

@media only screen and (max-width: 1115px) {
    .modal-wrapper {
        width: 80%;
        height: 50vh;
        padding: 10px 250px;
    }
}


@media only screen and (max-width: 900px) {
    .modal-wrapper {
        width: 80%;
        height: 50vh;
        padding: 10px 140px;
    }

    .loader {
        left: 130px;
    }

}

@media only screen and (max-width: 600px) {

    .quiz-wrapper {
        width: 100%;
        height: 100vh;
    }

    .quiz-item {
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }

    .modal-wrapper {
        width: 80%;
        height: 50vh;
        padding: 10px 50px;
    }

    .loader {
        left: 150px;
    }
}

@media only screen and (max-width: 480px) {
    .loader {
        left: 110px;
    }

    .head-text {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .opt-wrap {
        margin-top: 60px;
    }
}

@media only screen and (max-width: 380px) {
    .loader {
        left: 80px;
    }

    .head-text {
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .opt-wrap {
        margin-top: 30px;
    }
}